#uyeBilgileri{
	padding: 10px;
	text-align: center;
  display: block;
}
#mekanEkle{
  padding:5px;
}
.inputsLabel{
  font-weight: bold;
  font-size: small;
}
.inputsItem{
  margin-top: 8px;
  margin-bottom: 8px;
  height: 50px !important; 
}
#onayBekleyenYorumlar{
  display: none;
  margin-left: 10px;
}
#goruntulenme{
  display: none;
}
.yorumItem{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border:1px solid #E3E1DE;
  padding: 10px;
}
.yorumItem:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.yorumYapan{
  font-size: small;
  border-bottom: 1px solid #E3E1DE;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
}