<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="connection.url">jdbc:mysql://us-cdbr-iron-east-05.cleardb.net:3306/heroku_73930561ce2cb4b</property>
      <property name="connection.username">bd33e53fffa652</property>
      <property name="connection.password">c6e21334</property>
      <!--

    <property name="connection.url">jdbc:mysql://localhost:3306/yazilimmuhendisligiyurtbul</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Bilal.1212</property>
    -->


    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="show_sql">true</property>

    <mapping class="com.model.entities.Proposal"/>
      <mapping class="com.model.entities.AdvertType"/>
      <mapping class="com.model.entities.Advert"/>
      <mapping class="com.model.entities.User"/>
    <mapping class="com.model.entities.City"/>
    <mapping class="com.model.entities.Images"/>
    <mapping class="com.model.entities.Comment"/>
  </session-factory>
</hibernate-configuration>