.listItem{
  border-radius: 5px;
  border:1px solid #E3E1DE;
  margin: 0px;
  padding: 5px;
  transition: 0.3s;
  margin-top: 5px;
}
.listItem:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}